on:
  push:
    tags:
      - "v*.*.*"
name: Build Linux binary
jobs:
  build_linux:
    strategy:
      fail-fast: false
      matrix:
        go-version: [1.25.x]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
      - name: Fetch dependencies
        run: go mod tidy
      - name: Build binaries
        run: ./build.sh
      - name: Publish new release
        uses: softprops/action-gh-release@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          files: |
            terrasolver_mac_amd64
            terrasolver_mac_arm64
            terrasolver_linux_amd64
